body {
  background-color: #c7edcc;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}
@media (min-width: 990px) {
  body {
    width: 970px;
  }      
}

header {
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
#hpic {
  grid-column: span 6;
  text-align: right;
}
#hpic img {
  width: 240px;
  height: 240px;
  border-radius: 120px;
}
.iico {
  width: 40px;
  height: 40px;
  margin-left: 3px;
  margin-right: 3px;
}
#hdesc {
  padding-top: 40px;
  padding-left: 20px;
  grid-column: span 6;
}
#hdesc h1 {
  font-size: 34px;
  font-weight: normal;
}
@media (max-width: 990px) {
  #hpic {
    grid-column: span 12;
    text-align: center;
  }
  #hdesc {
    grid-column: span 12;
    padding-top: 20px;
    text-align: center;
  }
}
@media (min-width: 990px) {
  #hdesc h2 {
    max-width: 400px;
  }
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

section {
  margin-top: 40px;
  margin-bottom: 40px;
}
section h2 {
  font-weight: normal;
  font-style: italic;
  color: #999;
  font-size: 18px;
  font-size: 22px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.project {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.project h3 {
  min-width: 8em;
  vertical-align: top;
  text-align: left;
}
.project h3 a {
  color: rgb(199, 51, 51);
}
.pdesc {
  grid-column: span 3;
  vertical-align: top;
  text-align: left;
  font-size: 17px;
}

footer {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  width: 100%;
  font-size: 13px;
}

footer blockquote {
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
}
